<div class="card-container">
    <md-card x-large class="sample-content">Your Content Here</md-card>
    <md-card>
        <md-card-title>Local State</md-card-title>
        <md-card-content>
            <div style="display: flex;">
                <div>
                    <library-sidebar></library-sidebar>
                </div>

                <div>
                    <div *ngIf="loadingSections">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                    <div *ngIf="!loadingSections">
                        <books-sidebar-list>
                            <books-sidebar-item (click)="openChapter(section)" title="{{section.name}}"
                                                description="{{section.description}}"
                                                *ngFor="let section of sections"></books-sidebar-item>
                        </books-sidebar-list>
                    </div>
                </div>

                <div>
                    <div *ngIf="loadingChapters">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                    <div *ngIf="!loadingChapters">
                        <books-sidebar-list>
                            <books-sidebar-item title="{{chapter.name}}" description="{{chapter.description}}"
                                                *ngFor="let chapter of chapters"></books-sidebar-item>
                        </books-sidebar-list>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>
